# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environments
.venv/
env/
venv/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# Test cache
.pytest_cache/

# Jupyter Notebooks
.ipynb_checkpoints/

# Logs and coverage
*.log
coverage/
*.cover
*.py,cover

# Local settings
*.local
